@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Rubik', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.animated-gradient-bg {
    width: 100wh;
    background: linear-gradient(
        -45deg,
        #29524a,
        #25514f,
        #244f53,
        #254d56,
        #294b58,
        #2f4858
    );
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

.animated-gradient-bg-btn {
    width: 100wh;
    /* background: linear-gradient(-45deg, #29524A, #25514F, #244F53, #254D56, #294B58, #2F4858); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.btn {
    @apply px-4 py-2;
}

.btn-lg {
    @apply px-8 py-4 text-xl;
}

.btn-primary {
    @apply bg-primary text-white hover:shadow-2xl shadow-primary transition-all duration-500;
}

.btn-secondary {
    @apply bg-secondary text-white transition-all duration-500;
}

.btn-moves:hover{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* #111418, #e1e5ea, #724f60, #d2d9e0, #60724f */

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
    @apply rounded-full m-0 mt-4 md:mt-6 bg-secondary;
}
.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-140%);
    @apply mx-4 md:mx-[5%] lg:mx-[10%] rounded-full m-0 mt-4 md:mt-6 backdrop-blur-xl;
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
    @apply mx-4 md:mx-[5%] lg:mx-[10%] rounded-full m-0 mt-4 md:mt-6 backdrop-blur-xl;
}

.swiper-button-next,
.swiper-button-prev {
    @apply text-white scale-50 m-0;
}

.headroom-background {
    @apply bg-secondary rounded-full w-full h-full absolute top-0 left-0 opacity-50 -z-10;
}
.headroom--pinned .headroom-background {
    @apply bg-gray-700;
}

.scroll-to-top {
    box-shadow: none;
    z-index: 99999 !important;
}
.scrolltotop {
    border-radius: 9999px !important;
    background-color: blue;
}

@media (min-width: 1024px) {
    .scrolltotop {
        width: 4rem !important;
        height: 4rem !important;
    }
}
